body{
    /*background-image: url('../images/fondo.jpg');*/
    background-color: aliceblue;
}

.contenido{
    background-size: 100% 100%;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #dbdddf;
    border-radius: 12px;
}

/* funciones del navegador*/
.navegador{
    height: 65px;
    line-height: 60px;
    color: #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.navegador a{
    margin-right: 1px;
}

.redsoc{
    text-decoration: none;
}


.login{
    font-family: sans-serif;
}

.flotar-derecha{
    float: right;
    margin-right: 4px;
}

button{
    margin-right: 2px;
}

/* navBlanco ----------------------------------------------------------*/

.navBlanco{
  background-color: rgb(249, 253, 251);
  border: black solid 1px; 
  margin-bottom: 40px;
}

/* navBlanco ----------------------------------------------------------*/


/*Encabezado ----------------------------------------------------------*/


.imgFondo {
    position: absolute;
    max-width: 100%;
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border: 3px solid #fff;
    border-radius: 20px;
    z-index: 1;
  }

.imgPerfil {
    position: relative;
    margin-left: 14px;
    height: 200px;
    width: 200px;
    margin-top: 300px;
    /*background-color: brown;*/
    border-radius: 100px;
    border: 3px solid #fff;
    z-index: 2;
  }

  .edit1{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    z-index: 3;
  }

  .edit2{
    position: absolute;
    z-index: 4;
    margin-top: 450px;
    margin-left: 180px;
  }

.nombre-usuario{
    margin-left: 20px;
    text-shadow: 1px 6px 2px #ace5ff;
}

.descripcion{
    margin-left: 20px;
}

.infoPersonal{
    margin-bottom: 20px;
}

/*Efecto para agrandar un poco las imagenes al pasar el mouse por arriba*/
.imagen{
  overflow: hidden;
}

.imagen:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1)
}

@media handheld, screen and (min-width: 600px) and (max-width: 1023px) {

    /* funciones del navegador*/
    .navegador{
        height: 65px;
        line-height: 60px;
        color: #fff;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .redsoc{
        text-decoration: none;
    }
    
    .login{
        font-family: sans-serif;
    }

    /*Encabezado -----------------------------------------------------*/
    .imgFondo {
        height: 300px;
      }
    
    .imgPerfil {
        height: 150px;
        width: 150px;
        margin-top: 225px;
      }
    
      .edit2{
        margin-top: 350px;
        margin-left: 120px;
      }
    
      .navegador{
        margin-bottom: 30px;
      }

      /* navBlanco ----------------------------------------------------------*/

    .navBlanco{
      margin-bottom: 30px;
    }

    /* navBlanco ----------------------------------------------------------*/
}
@media handheld, screen and (min-width: 340px) and (max-width: 599px) {
    .navegador{
        height: 65px;
        line-height: 60px;
        color: #fff;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .redsoc{
        text-decoration: none;
    }

    .login{
        display: none;
    }

    /* encabezado ---------------------*/

    .imgFondo {
        height: 200px;
      }
    
    .imgPerfil {
        height: 100px;
        width: 100px;
        margin-top: 150px;
      }
    
      .edit2{
        margin-top: 225px;
        margin-left: 80px;
      }
    
      .navegador{
        margin-bottom: 20px;
      }

      /* navBlanco ----------------------------------------------------------*/

    .navBlanco{
      margin-bottom: 20px;
    }

    /* navBlanco ----------------------------------------------------------*/
    

}

@media handheld, screen and (max-width: 339px) {

    /* funciones del navegador*/
    .navegador{
        height: 65px;
        line-height: 60px;
        color: #fff;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }


    .redsoc{
        display: none;
    }

    .login{
        display: none;
    }

    /* Encabezado*/

    .imgFondo {
        height: 200px;
      }
    
    .imgPerfil {
        height: 100px;
        width: 100px;
        margin-top: 150px;
      }
    
      .edit2{
        margin-top: 225px;
        margin-left: 80px;
      }
    
      .navegador{
        margin-bottom: 20px;
      }

      /* navBlanco ----------------------------------------------------------*/

      .navBlanco{
        margin-bottom: 20px;
      }

      /* navBlanco ----------------------------------------------------------*/

}